[submodule "local/eliscore"]
	path = local/eliscore
	url = https://github.com/remotelearner/moodle-local_eliscore
[submodule "local/elisprogram"]
	path = local/elisprogram
	url = https://github.com/remotelearner/moodle-local_elisprogram
[submodule "enrol/elis"]
	path = enrol/elis
	url = https://github.com/remotelearner/moodle-enrol_elis
[submodule "blocks/elisadmin"]
	path = blocks/elisadmin
	url = https://github.com/remotelearner/moodle-block_elisadmin
[submodule "local/elisreports"]
	path = local/elisreports
	url = https://github.com/remotelearner/moodle-local_elisreports
[submodule "blocks/elisdashboard"]
	path = blocks/elisdashboard
	url = https://github.com/remotelearner/moodle-block_elisdashboard
[submodule "evolved"]
	path = evolved
	url = https://github.com/kennibc/moodle-theme_evolved
[submodule "course/format/topcoll"]
	path = course/format/topcoll
	url = https://github.com/gjb2048/moodle-format_topcoll
[submodule "auth/wp2moodle"]
	path = auth/wp2moodle
	url = https://github.com/frumbert/wp2moodle-moodle
[submodule "theme/evolved"]
	path = theme/evolved
	url = https://github.com/kennibc/moodle-theme_evolved
